<!doctype html>
<html lang="en" class="noIE">
  <head>
    <script>
     // micro
     (function(w,d,t,r,u){
        var f,n,i;
        w[u]=w[u]||[],f=function()
        {
            var o={ti:"307001286", enableAutoSpaTracking: true};
            o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")
        },
        n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function()
        {
            var s=this.readyState;
            s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)
        },
        i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)
    })(window,document,"script","//bat.bing.com/bat.js","uetq");
   
    
    <!-- Google Tag Manager -->
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5TGBB45N');
      </script>

      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11308785966"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'AW-11308785966');     

    </script>
    <!-- End Google Tag Manager -->

    <meta name="yandex-verification" content="99bdef1b9d087aa9" />
    <meta name="google-site-verification" content="-RSfW0sDqxnfE7o8syrcm-sftcDpmt_ibNHEZEujRzQ" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11308785966"></script>
    
    <!-- Event snippet for Purchase (1) experiment conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-11308785966/LWQtCIXrluoYEK7CuZAq',
          'value': 1.0,
          'currency': 'EUR',
          'transaction_id': '',
          'event_callback': callback
      });
      return false;
    }

     window.uetq = window.uetq || [];
     window.uetq.push('event', '', {"revenue_value":Replace_with_Variable_Revenue_Function(),"currency":"EUR"});
    </script>

    
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title and description ================================================== -->
    <title>
      {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.primary_color }}">
    {% include "no_script_styles" %}{{ 'qikify-smartmenu-data.js' | asset_url | script_tag }}
    <script type="text/javascript" src="{{ 'qikify-smartmenu-v3.min.js?shop=' | append: shop.permanent_domain | asset_url }}" defer="defer"></script>

    {% if settings.favicon != empty %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
    {% endif %}
    {{ 'apps.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'flexslider.css' | asset_url | stylesheet_tag }}
    {{ 'flexslider-product.css' | asset_url | stylesheet_tag }}
    {{ 'bb_style.scss' | asset_url | stylesheet_tag }}
    {{ 'mw-custom-style.css' | asset_url | stylesheet_tag }}

    {% if template contains "index" %}
    <script src="//www.youtube.com/iframe_api"></script>
    {% endif %}
    
    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}

    <!--[if lt IE 9]>
    {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
    <![endif]-->

    {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'jquery.js' | asset_url | script_tag }}
    
    <!-- BB JS -->
    {{ 'custom.js' | asset_url | script_tag }}

    
    <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
    
    
    <!-- Theme Global App JS ================================================== -->
    <script>
      var app = app || {
        data:{
          template:{{ template | json }},
          money_format: {{ shop.money_format | default:false | json }}
        }
      }
  
    </script>

    <style>
        @media only screen and (max-width: 929px) {
          li[id^="slide-"] {
              height: 500px !important;
          }
    
          .home-slider .slides img {
            height: 500px !important;
            width: auto !important;
          }

          .promo-bar {
            background: #000;
          }

          .header_top {
              display: none;
          }
        }

      .shopify-section:nth-child(2) .promo-overlay {
        max-width: 70%;
        margin: auto;
        background: transparent !important;  
        height: 80px;
      }

       .shopify-section:nth-child(2) .promo-overlay h2 {
          margin-top: 3rem;
          font-size: 4rem !important;
          font-weight: 700;
          letter-spacing: -0.08rem;
          text-shadow: 1px 1px 2px #fff, 0 0 0.9em #fff, 0 0 0.2em #fff;
          border-bottom: 2px solid #5f6baa;
          padding: 7px 12px 7px 12px !important;
      }

      #content .shopify-section:nth-child(2) .promo-overlay h2 p {
          line-height: 3.1rem;
          color: #5f6baa !important;
      }

      {% comment %}
      // TEMP HACK: to fix spacing when top banner is removed
      // START BANNER MORE DISCOUNTS FOR EXISTING CUSTOMERS CLICK HERE
      // NOTE: & MORE CODE IN gallery.liquid
      {% endcomment %}
      #content .shopify-section:nth-child(1) .box_inn .promo-overlay {
        margin-top: 27px !important;
      }
       @media (max-width: 950px) {
            #content .shopify-section:nth-child(1) .box_inn .promo-overlay {
              margin-top: 0 !important;
            }
       }
      @media (min-width: 750px) and (max-width: 950px) {
        #content  .shopify-section:nth-child(1) .h_row_1 .box.box_1.red5.feature_1 .promo-overlay p {
          line-height: 3rem !important;
        }
      }
      @media (max-width: 699px) {
        #content .shopify-section:nth-child(1) .h_row_1 .promo-overlay {
          margin-top: 0;
          padding-top: 0;
          padding-bottom: 0; 
        }
        #content .shopify-section:nth-child(1) .h_row_1 .promo-overlay h2 p {
          font-size: 2rem;
          line-height: 2rem;
        }
      }
      @media (max-width: 399px) {
        #content  .shopify-section:nth-child(1) .h_row_1 .promo-overlay h2 p {
          font-size: 1.4rem;
          line-height: 1.3rem;
          margin-top: 0.5rem;
        }
      }
      {% comment %}
         // END BANNER MORE DISCOUNTS FOR EXISTING CUSTOMERS CLICK HERE
        // END TEMP HACK: to fix spacing when top banner is removed
      {% endcomment %}

      @media only screen and (max-width: 455px) {
        #content .shopify-section:nth-child(2) .promo-overlay h2 p {
          line-height: 2rem;
        }
      }

      @media only screen and (max-width: 500px) {
        .shopify-section:nth-child(2) .promo-overlay h2 {
          margin: 5px 0 0 0;
        }
        .shopify-section:nth-child(2) .promo-overlay {
          max-width: initial;
        }
        #content .shopify-section:nth-child(2) .promo-overlay h2 p {
          font-size: 1.7rem !important;
          line-height: 2.1rem;
        }
      }

      @media only screen and (max-width: 900px) {
        .shopify-section:nth-child(2) .promo-overlay h2 {
          margin: 5px 0 0 0;
        }
        .shopify-section:nth-child(2) .promo-overlay {
          margin-top: -13px;
        }
        #content .shopify-section:nth-child(2) .promo-overlay h2 p {
          font-size: 2rem !important;
        }
      }
    </style>
    
  {% render 'qikify-apps' %}

   <script async defer src="https://tools.luckyorange.com/core/lo.js?site-id=5f6c9425"></script> 
   <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]|| function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0 ; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[ 0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag .js", "ym"); ym(95328171, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, ecommerce:"dataLayer" }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/95328171" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</head>

  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5TGBB45N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div class="wsmenucontainer clearfix">
      <div class="overlapblackbg"></div>
      {% if settings.show_entry_popup %}
      {% include 'entry-popup' %}
      {% endif %}

      {% section 'header' %}
     
      {{ content_for_layout }}
      
	  {% section 'icon-buttons' %}	
      {% section 'footer' %}

      {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}
      {{ 'api.jquery.js' | asset_url | script_tag }}
      {{ 'ajaxify-shop.js' | asset_url | script_tag }}

      {% if template contains 'blog' %}
      {{ "masonry.pkgd.min.js" | asset_url  | script_tag }}
      {{ "imagesloaded.pkgd.min.js" | asset_url  | script_tag }}
      {% endif %}

      {% if settings.show_multiple_currencies %}
      {% include 'currencies' %}
      {% endif %}

      {% if template == 'index' or template contains 'product' %}
      	{{ 'jquery.owl.min.js' | asset_url | script_tag }}
      {% endif %}

      {{ 'scripts.js' | asset_url | script_tag }}
      {{ 'mw-custom-scripts.js' | asset_url | script_tag }}
    </div>
    
  {% render 'automizely-recommendations' %}{{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}
</body>
</html>